<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>wem</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list> 
  <servlet>
    <servlet-name>userJDBCServlet</servlet-name>
    <servlet-class>com.onwardpath.wem.controller.UserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userJDBCServlet</servlet-name>
    <url-pattern>/UserController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>segmentJDBCServlet</servlet-name>
    <servlet-class>com.onwardpath.wem.controller.SegmentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>segmentJDBCServlet</servlet-name>
    <url-pattern>/SegmentController</url-pattern>
  </servlet-mapping>   
  <servlet>
    <servlet-name>experienceJDBCServlet</servlet-name>
    <servlet-class>com.onwardpath.wem.controller.ExperienceController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>experienceJDBCServlet</servlet-name>
    <url-pattern>/ExperienceController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>configJDBCServlet</servlet-name>
    <servlet-class>com.onwardpath.wem.controller.ConfigController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>configJDBCServlet</servlet-name>
    <url-pattern>/ConfigController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ajaxServlet</servlet-name>
    <servlet-class>com.onwardpath.wem.controller.AjaxController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ajaxServlet</servlet-name>
    <url-pattern>/AjaxController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>deleteServlet</servlet-name>
    <servlet-class>com.onwardpath.wem.controller.DeleteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteServlet</servlet-name>
    <url-pattern>/DeleteController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>displayimageServlet</servlet-name>
    <servlet-class>com.onwardpath.wem.controller.DisplayImageController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>displayimageServlet</servlet-name>
    <url-pattern>/DisplayImageController</url-pattern>
  </servlet-mapping> 
  
    
  <servlet>
    <servlet-name>ajaxExpServlet</servlet-name>
    <servlet-class>com.onwardpath.wem.controller.AjaxExpController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ajaxExpServlet</servlet-name>
    <url-pattern>/AjaxExpController</url-pattern>
  </servlet-mapping> 
  <servlet>
    <servlet-name>ajaxSegServlet</servlet-name>
    <servlet-class>com.onwardpath.wem.controller.AjaxSegController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ajaxSegServlet</servlet-name>
    <url-pattern>/AjaxSegController</url-pattern>
  </servlet-mapping>
  <session-config>
  	<session-timeout>10</session-timeout>
  </session-config>
</web-app>